In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("./data/master.csv")

In [4]:
df = df.rename(columns={'suicides/100k pop': 'suicides per 100k'})
df = df.rename(columns={' gdp_for_year ($) ': 'gdp_for_year'})
df = df.rename(columns={'gdp_per_capita ($)': 'gdp_per_capita'})

In [21]:
suicides_by_country = df.groupby('country')['suicides_no'].sum()

In [25]:
suicides_by_country

country
Albania                    1970
Antigua and Barbuda          11
Argentina                 82219
Armenia                    1905
Aruba                       101
                         ...
United Arab Emirates        622
United Kingdom           136805
United States           1034013
Uruguay                   13138
Uzbekistan                34803
Name: suicides_no, Length: 101, dtype: int64

In [19]:
df["year"] = pd.to_datetime(df["year"], format = "%Y")

In [7]:
null_count = df['HDI for year'].isnull().sum()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27820 non-null  object
 1   year               27820 non-null  int64
 2   sex                27820 non-null  object
 3   age                27820 non-null  object
 4   suicides_no        27820 non-null  int64
 5   population         27820 non-null  int64
 6   suicides per 100k  27820 non-null  float64
 7   country-year       27820 non-null  object
 8   HDI for year       8364 non-null   float64
 9   gdp_for_year       27820 non-null  object
 10  gdp_per_capita     27820 non-null  int64
 11  generation         27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [11]:
df["year"] = pd.to_datetime(df["year"], format = "%Y")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27820 non-null  object
 1   year               27820 non-null  datetime64[ns]
 2   sex                27820 non-null  object
 3   age                27820 non-null  object
 4   suicides_no        27820 non-null  int64
 5   population         27820 non-null  int64
 6   suicides per 100k  27820 non-null  float64
 7   country-year       27820 non-null  object
 8   HDI for year       8364 non-null   float64
 9   gdp_for_year       27820 non-null  object
 10  gdp_per_capita     27820 non-null  int64
 11  generation         27820 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 2.5+ MB

In [9]:
dff=df.dropna()

In [11]:
len(dff)

8364

In [16]:
dff['year'].unique()

array([1995, 2000, 2005, 2010, 2012, 2013, 2014, 1985, 1990, 2011],
      dtype=int64)

In [103]:
dg=df.drop(columns=['HDI for year',"country-year"])

In [104]:
dg

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [23]:
dgg=dg.dropna()

In [24]:
dgg

,country,year,sex,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,9,274300,3.28,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [ ]:
'C:/Users/DELL/Downloads/kaggle.json'
'C:/Users/DELL/Downloads/capstone-420320-2938e5d4b161.json'

In [43]:
dg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   suicides_no         27820 non-null  int64
 4   population          27820 non-null  int64
 5   suicides/100k pop   27820 non-null  float64
 6    gdp_for_year ($)   27820 non-null  object
 7   gdp_per_capita ($)  27820 non-null  int64
 8   generation          27820 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 1.9+ MB

In [106]:
dg.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [99]:
dg.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', ' gdp_for_year ($) ', 'gdp_per_capita ($)',
       'generation'],
      dtype='object')

In [105]:
dg[ ' gdp_for_year ($) '] = dg[ ' gdp_for_year ($) '].str.replace(',', '').astype(int)

OverflowError: Python int too large to convert to C long

In [64]:
dg[ ' gdp_for_year ($) ']

0         2,156,624,900
1         2,156,624,900
2         2,156,624,900
3         2,156,624,900
4         2,156,624,900
              ...
27815    63,067,077,179
27816    63,067,077,179
27817    63,067,077,179
27818    63,067,077,179
27819    63,067,077,179
Name:  gdp_for_year ($) , Length: 27820, dtype: object

In [73]:
dg[ ' gdp_for_year ($) '] = dg[ ' gdp_for_year ($) '].str.replace(',', '').astype(float)
dg['country'] = dg['country'].astype(str)
dg['sex'] = dg['sex'].astype(str)
dg['generation'] = dg['generation'].astype(str)

In [79]:
dg['country'] = dg['country'].astype(str, errors='raise')

In [81]:
dg['country'] = dg['country'].astype("string")

In [86]:
dg['age'].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [1]:
dg.head()

NameError: name 'dg' is not defined

In [48]:
f=pd.read_csv('C:/Users/DELL/Desktop/data-engineering-zoomcamp/week_2_workflow_orchestration/yellow_tripdata_2019-01.csv')

In [69]:
d

In [52]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7696617 entries, 0 to 7696616
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.1+ GB

In [13]:
data=pd.read_parquet('./data/suicide-rates-overview-1985-to-2016.parquet')

In [18]:
data.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014-01-01,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,6.306708e+10,2309,Generation X
27816,Uzbekistan,2014-01-01,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,6.306708e+10,2309,Silent
27817,Uzbekistan,2014-01-01,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,6.306708e+10,2309,Generation Z
27818,Uzbekistan,2014-01-01,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,6.306708e+10,2309,Generation Z
27819,Uzbekistan,2014-01-01,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,6.306708e+10,2309,Boomers

In [26]:
suicides_by_country = data.groupby('country')['suicides_no'].sum()

# Find the country with the highest total number of suicides
country_with_highest_suicides = suicides_by_country.idxmax()
highest_suicide_count = suicides_by_country.max()

In [29]:
country_with_highest_suicides = suicides_by_country.idxmax()
highest_suicide_count = suicides_by_country.max()

In [31]:
print(highest_suicide_count)

1209742

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  datetime64[ns]
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  float64
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(5)
memory usage: 2.5+ MB

In [16]:
data["year"] = pd.to_datetime(data["year"], format = "%Y")

In [94]:
data[ ' gdp_for_year ($) '] = data[ ' gdp_for_year ($) '].astype(float)

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  float64
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(3), int64(4), object(5)
memory usage: 2.5+ MB

In [96]:
data.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,6.306708e+10,2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,6.306708e+10,2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,6.306708e+10,2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,6.306708e+10,2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,6.306708e+10,2309,Boomers